# Only `project` and `aoi` are required, the rest are optional
project:
  # Data will be stored in `data_dir/name`
  name: example_1
  data_dir: data
# Only one of `huc_ids`, `nhdv2_ids`, `gagesii_basins`, `mainstem_main`
# `mainstem_tributaries`, or `geometry_file` should be given.
aoi:
  # Could be a mix of different HUC levels
  huc_ids: []
  # NHDPlusV2 catchment IDs (featureid)
  nhdv2_ids: []
  # GAGES-II basin IDs
  gagesii_basins: ['02398863']
  # NHDPlusV2 catchments belonging to the main flowlines upstream of
  # the provided mainstem ID
  # mainstem_main: '323742'
  # NHDPlusV2 catchments belonging to the tributaries upstream of
  # the provided mainstem ID
  # mainstem_tributaries: '323742'
  # Could be paruqet, feather or anything that geopandas.read_file accepts
  geometry_file: ''
  # Whether to get NHDPlusV2 flowlines within AOI.
  # Flowlines for each geometry (row) in the AOI will be saved to a
  # subdirectory called data_dir/nhdv2_flowlines. The files are named
  # with this pattern `aio_geom_X.parquet` where `X` is the row number
  # in the AOI GeoDataFrame.
  nhdv2_flowlines: true
  # A list of valid StreamCat attributes to get for flowlines within AOI.
  # You can use `pynhd.streamcat()` to get a dataframe of the attrs'
  # names and descriptions
  streamcat_attrs: [fert, bfi]
  # A list of valid NLDI attributes to get for flowlines within AOI.
  # You can use `pynhd.nhdplus_attrs_s3()` to get a dataframe of the attrs'
  # names and descriptions
  # nldi_attrs: [CAT_BFI, CAT_PET]
forcing:
  # Could be `daymet`, `gridmet`, or `nldas2`
  source: daymet
  start_date: 2000-01-01
  end_date: 2000-01-02
  # Valid variable names depend on the source
  variables: [prcp, tmin]
  # whether to crop the data to the geometry of the AOI, by default True
  crop: false
  # Buffer distance in meters to add to the geometry of the AOI before requesting
  # the data, by default 0
  geometry_buffer: 0
topo:
  # Could be any positive integer. When using 10, 30, and 60
  # DEM data will be retrieved from 3DEP's static files, otherwise
  # data will be queried from 3DEP's WMS web service which takes more time.
  resolution_m: 10
  # Could be `slope`, `aspect`, and `curvature` which will be computed
  # using `xarray-spatial`
  derived_variables: [slope, aspect, curvature]
  # whether to crop the data to the geometry of the AOI, by default True
  crop: true
  # Buffer distance in meters to add to the geometry of the AOI before requesting
  # the data, by default 0
  geometry_buffer: 0
soil:
  # Could be `soilgrids` or `gnatsgo` and variables depend on the service
  source: soilgrids
  variables: [bdod_5, cec_5]
  # source: gnatsgo
  # variables: [tk0_999a, aws0_999]
  # whether to crop the data to the geometry of the AOI, by default True
  crop: true
  # Buffer distance in meters to add to the geometry of the AOI before requesting
  # the data, by default 0
  geometry_buffer: 0
nlcd:
  # Options are 2021, 2019, 2016, 2013, 2011, 2008, 2006, 2004, 2001
  # But for canopy it's any year between 2011-2022 (inclusive)
  cover: [2016]
  impervious: [2016]
  canopy: [2016]
  descriptor: [2016]
  # whether to crop the data to the geometry of the AOI, by default True
  crop: true
  # Buffer distance in meters to add to the geometry of the AOI before requesting
  # the data, by default 0
  geometry_buffer: 0
nid:
  # If True only returns dams within AOIs, otherwise
  # will store the full NID database
  within_aoi: true
streamflow:
  # Get streamflows for all stations within AOIs
  start_date: 2000-01-01
  end_date: 2000-01-02
  # Options are `daily` or `instantaneous`
  frequency: daily
  # Whether to get streamflow for all stations within the AOIs
  # or only for the IDs given in `use_col` . Note that
  # if `use_col` is given, this option is ignored. So, only
  # one of these `within_aoi` or `use_col` should be used.
  within_aoi: false
  # Get stations for IDs in the obtained AOI's GeoDataFrame.
  # For example, when `gagesii_basins` is used, the station
  # IDs are given in the `gage_id` column
  use_col: gage_id
remote_raster:
  # Names will be sanitized: strip + lower + replace space with _
  # since they are used as filenames, e.g., data_dir/twi/twi_geom_1.tif
  twi: https://lynker-spatial.s3-us-west-2.amazonaws.com/gridded-resources/twi.vrt
  # fdr: https://lynker-spatial.s3-us-west-2.amazonaws.com/gridded-resources/fdr.vrt
  # whether to crop the data to the geometry of the AOI, by default True
  crop: true
  # Buffer distance in meters to add to the geometry of the AOI before requesting
  # the data, by default 0
  geometry_buffer: 0
