site_name: HySetter
site_url: https://cheginit.github.io/hysetter
site_author: Taher Chegini
site_description: Subset hydroclimate data using HyRiver across US

repo_name: hyriver/hysetter
repo_url: https://github.com/hyriver/hysetter/
edit_uri: edit/main/docs/

copyright: Copyright &copy; 2024 Taher Chegini

theme:
  name: material
  custom_dir: docs/overrides
  favicon: assets/hyriver_logo.png
  logo: assets/hyriver_logo.png
  font:
    text: Red Hat Text
    code: JetBrains Mono

  palette:
  - media: (prefers-color-scheme)
    toggle:
      icon: material/link
      name: Switch to light mode
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: indigo
    accent: indigo
    toggle:
      icon: material/toggle-switch
      name: Switch to dark mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: black
    accent: indigo
    toggle:
      icon: material/toggle-switch-off
      name: Switch to system preference

  icon:
    edit: material/pencil
    view: material/eye

  features:
  - content.tabs.link
  - content.code.copy
  - content.action.edit
  - content.code.annotate
  - content.tooltips
  - navigation.sections
  - navigation.expand
  - navigation.collapse
  - navigation.instant
  - navigation.instant.progress
  - navigation.tracking
  - navigation.top
  - navigation.footer
  - navigation.indexes
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.path
  - search.share
  - search.suggest
  - search.highlight
  - toc.follow
  - toc.integrate

markdown_extensions:
- abbr
- admonition
- attr_list
- def_list
- footnotes
- md_in_html
- toc:
    permalink: true
- pymdownx.tasklist:
    custom_checkbox: true
- pymdownx.highlight:
    anchor_linenums: true
    line_spans: __span
    pygments_lang_class: true
- pymdownx.inlinehilite
- pymdownx.snippets
- pymdownx.details
- pymdownx.superfences
- pymdownx.superfences:
    custom_fences:
    - name: mermaid
      class: mermaid
      format: pymdownx.superfences.fence_code_format
- pymdownx.tabbed:
    alternate_style: true
    combine_header_slug: true
    slugify:
      __class__: pymdownx.slugs.slugify
      kwds:
        case: lower
- toc:
    toc_depth: 3
    permalink: '#'
- pymdownx.arithmatex:
    generic: true
- pymdownx.betterem
- pymdownx.magiclink:
    normalize_issue_symbols: true
    repo_url_shorthand: true
    user: hyriver
    repo: hysetter

extra:
  homepage: https://docs.hyriver.io/
  social:
  - icon: fontawesome/brands/twitter
    link: https://twitter.com/ContactHyRiver
  - icon: fontawesome/brands/github
    link: https://github.com/hyriver

nav:
- Getting Started: index.md
- Examples:
  - Overview: examples/index.md
  - HYMOD: examples/hymod.ipynb
  - NCRS-PDM: examples/ncrspdm.ipynb
- config.md
- API Reference: reference.md
- Release Notes: CHANGELOG.md
- Contributing: CONTRIBUTING.md
- License: LICENSE.md
plugins:
- search:
    separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
- minify:
    minify_html: true
    minify_js: true
    minify_css: true
    htmlmin_opts:
      remove_comments: true
    cache_safe: true
- mkdocs-jupyter:
    include: [examples/*.ipynb]
    include_source: true
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        import:
        - https://docs.python.org/3/objects.inv
        - https://docs.pydantic.dev/latest/objects.inv
        paths: [src]
        options:
          docstring_style: numpy
          inherited_members: true
          members_order: source
          separate_signature: true
          unwrap_annotated: false
          filters:
          - '!^_'
          merge_init_into_class: true
          docstring_section_style: list
          signature_crossrefs: true
          show_source: false
hooks:
- docs/docs_hooks.py

extra_javascript:
- javascripts/katex.js
- https://unpkg.com/katex@0/dist/katex.min.js
- https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
- stylesheets/extra.css
- https://unpkg.com/katex@0/dist/katex.min.css
